Repository lauraramirez220612/Group-2-to-do-list-separation-of-concerns-starter, pull requests merged in 2021-08, with the labels that each got.

#5 Backlog complited
  planning/backlog.md
Labels: documentation

#7 Wireframe ekaterina
  planning/Untitled Diagram.drawio
Labels: documentation

#33 added style change of completed
  client/src/data/data.js
  client/src/handlers/handlers.js
  client/styles/index.css
Labels: handler, style

#35 BugFixed
  client/src/handlers/handlers.js
Labels: bug

#34 fix btn, word wrap
  client/styles/index.css
Labels: style

#37 centering elements, sizing 'remove all' btn
  client/styles/index.css
Labels: style

#38 Remove all button
  client/styles/index.css
  index.html
Labels: bug, html.file

#39 addedBg
  client/styles/index.css
  index.html
Labels: style

#43 changedColOfInput
  client/styles/index.css
Labels: style
